@media only screen and (max-width: 992px){
    .main-timeline .timeline{
        padding: 40px 10px 40px 60px !important;
        margin: 0 0 0 35px;
    }
    .main-timeline .timeline:nth-child(2n){
        padding: 40px 60px 40px 10px !important;
        margin: 0 35px 0 0;
    }
    .main-timeline .timeline-content{
        width: 80% !important;
    }

    .corpo-paginas .container {
        padding: 0 !important;
    }
}

.main-timeline .timeline{
    padding: 50px 60px;
    position: relative;
}
.main-timeline .timeline:first-child{
    padding-top: 0;
}
.main-timeline .timeline:last-child{
    padding-bottom: 0;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline-icon{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background: var(--highlight-color);
    box-sizing: border-box;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px transparent;
    text-align: center;
    margin: auto 0;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    left: -34px;
    bottom: 0;
    z-index: 1;
}
.main-timeline .timeline:first-child .timeline-icon,
.main-timeline .timeline:last-child .timeline-icon{
    box-sizing: content-box;
    margin: 0;
    top: 0;
    left: -36px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px var(--dark-color);
}
.main-timeline .timeline:last-child .timeline-icon{
    top: auto;
    bottom: 0;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon{
    left: auto;
    right: -34px;
}
.main-timeline .timeline:last-child:nth-child(2n) .timeline-icon{
    right: -36px;
}
.main-timeline .timeline-content{
    width: 50%;
    position: relative;
    z-index: 3;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
    float: right;
    text-align: right;
}
.main-timeline .title{
    font-size: 18px;
    color: #837cb6;
    margin-top: 0;
    text-transform: uppercase;
}
.main-timeline .description{
    font-size: 15px;
    color: #636363;
    line-height: 25px;
    margin: 0;
}
.main-timeline .border-participar{
    width: 50%;
    border-top: 2px solid var(--dark-color);
    border-bottom: 2px solid var(--dark-color);
    border-left: 2px solid var(--dark-color);
    border-radius: 6px 0 0 6px;
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 0;
    z-index: 0;
}
.main-timeline .timeline:nth-child(2n) .border-participar{
    border-left: none;
    border-right: 2px solid var(--dark-color);
    border-radius: 0 6px 6px 0;
    left: 50%;
}
.main-timeline .timeline:first-child .border-participar{
    border-top: none;
}
.main-timeline .timeline:last-child .border-participar{
    border-bottom: none;
}
