body, p, h1, ul, li, blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Volkorn", Georgia, Serif;
  text-align: justify;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  display: block;
}

/* GRID GERAL */

.estrutura {
  display: grid;
  /* Minmax é para definir o mínimo que quero dela, a última eu quero 300px fixo sempre. */
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer"
  ;
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav anuncios anuncios"
      "footer footer footer"
    ;
  }
}

@media (max-width: 760px) {
  .estrutura {
    grid-template-columns: 1fr; /* 1fr está bugando */
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer"
    ;
  }
}

.header-paginas {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
}

/* SIDENAV */

.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav-item a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
  border-radius: 5px;
  padding: 20px;
  transition: .1s ease-out;
}

.sidenav-item a:hover {
  background: #A4A4A4;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 760px) {
  .sidenav {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .sidenav::after {
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0,0,0,.3);
    animation: seta .5s ease-in 0s infinite alternate;
  }
  .sidenav ul {
    display: flex;
    flex-wrap: nowrap;
  }
  .sidenav-item {
    flex: 1 0 60px;
  }
  .sidenav {
    padding: 0 10px;
    overflow: hidden;
  }
  .sidenav-item a {
    margin: 30px 30px 30px 0px;
  }
}

/* CONTENT */

.content{
  grid-area: content;
  margin: 0 auto;
}

/* FOOTER */

.footer {
  grid-area: footer;
  /* background: linear-gradient(135deg, #D8D8D8, #000000); */
}

/* GRID DO CONTENT */

.content {
  display: grid;
  max-width: 900px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 30px;
}

@media (max-width: 600px) {
  .content{
    grid-template-columns: auto;
    margin: 0px 10px;
  }
}

.col-wide {
  /* A coluna vai do 1 até o último, por isso -1, assim pega todas as colunas */
  grid-column: 1 / -1;
}

.imagem-1 {
  /* span 2 significa que essa imagem vai ocupar 2 linhas e será alinhada ao final dela sempre. */
  grid-row: span 2;
  align-self: end;
}

.imagem-2 {
  align-self: end;
}

.imagem-3 {
  margin-bottom: 3vw;
}

/* ESTILOS DO CONTENT */
p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -.005em;
  color: rgba(0, 0, 0, 0.7);
}

.informacoes p + p {
  margin-top: 30px;
}

/* TITULO */
.titulo {
  color: #08088A;
  padding-top: 3vw;
}

.titulo h1 {
  font-size: 3.75em;
  font-weight: 700;
  line-height: 1;
}

.titulo span {
  font-size: 0.875em;
  font-style: italic;
}


/* DESTAQUE */
.destaque {
  font-size: 0.875em;
  color: #0040FF;
  max-width: 16em;
}

.citacao, .atributos {
  align-self: start;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
  background: linear-gradient(135deg, #D8D8D8, #000000);
}

.citacao p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

.atributos li {
  color: white;
  font-family: Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid #FE2E2E;
}

.footer p {
  color: white;
  text-align: center;
  padding: 30px;
}

/* Animação */
[data-anime]{
  opacity: 0;
  transition: .3s;
}

[data-anime = "left"]{
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width: 760px) {
  
  [data-anime="right"]{
    transform: none;
  }
}

/* Regulamento */
.regulamento li{
  list-style: decimal;
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -.005em;
}