
.header-paginas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.body-paginas {
    background-color: rgba(202, 202, 202, 0.75);
}

.corpo-paginas {
    height: 100vh;
    
    align-items: center;
    justify-content: center;

    background-color: var(--white-color);
    background-image: url("../img/bgError.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50em;
    box-shadow: 0px 0px 10px 0px var(--dark-color);

}

.footer-paginas {
    position: absolute;
    bottom: 0;
    left: 0;

}

